<!doctype html>
<html lang="en">

<head>
    <title>The Buddy Company</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/homePage/css/style.css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

</head>

<body>
    <section style="margin-top: 5%;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <div class="w-100">
                                    <h3 class="text-white mb-2">Welcome to <br>The Buddy Company</h3>
                                </div>
                                <p>Welcome to our login page! We're thrilled to have you join our vibrant student community. Whether you're a first-year seeking guidance or looking to forge new friendships, we're here to make your journey smoother and more enjoyable.</p> 
                                <p>Our dedicated team of second-year mentors is excited to share their experiences, answer your questions, and help you navigate campus life. Get ready to connect, learn, and grow together with The Buddy Company. Your adventure starts here – log in and let the camaraderie begin!</p>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">


                            </div>
                        <form action="#" class="signin-form mt-5">
                                <div class="form-group text-center">
                                    <label class="h5">If you're an Admin, Click below to Login</label>
                                    <a href="/admin-login" class="form-control btn btn-primary">Click here</a>
                                </div>
                                <br>
                                <div class="form-group text-center">
                                    <label class="h5">If you're an Buddy, Click below to Login</label>
                                    <a href="/Buddy-login" class="form-control btn btn-primary">Click here</a>
                                </div>
                                <br>
                                <div class="form-group text-center">
                                    <label class="h5">If you're an Bud, Click below to Login</label>
                                    <a href="/Bud-login" class="form-control btn btn-primary">Click here</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="/homePage/js/jquery.min.js"></script>
    <script src="/homePage/js/popper.js"></script>
    <script src="/homePage/js/bootstrap.min.js"></script>

</body>

</html>